//@import "compass/css3/user-interface";
@import "config";
@import "colors";
@import "fonts";

@import "defaults";

.shadow {
	box-shadow: 2px 2px 2px black;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}